<section id="viewMe">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <form id="formSubmitChirpMy" class="chirp-form" action="#/chirp/post" method="post">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirpMy" value="Chirp" type="submit">
            </form>

            <div id="myStats" class="user-details"></div>
        </div>

        <div id="myChirps" class="chirps"></div>

    </div>
</section>