<table>
    <thead>
    <tr>
        <th>From</th>
        <th>Message</th>
        <th>Date Received</th>
    </tr>
    </thead>
    <tbody>
    {{#each messages}}
        {{> message}}
    {{else}}
        <h2>Messages empty!</h2>
    {{/each}}
    </tbody>
</table>