{{#if isAuthor}}
    <a href="#/remove/:{{teamId}}" class="btn btn-default">Remove Team</a>
    <a href="#/edit/:{{teamId}}" class="btn btn-default">Edit Info</a>
{{/if}}
{{#if isOnTeam}}
    <a href="#/leave" class="btn btn-default">Leave Team</a>
{{else}}
    <a href="#/join/:{{teamId}}" class="btn btn-default">Join Team</a>
{{/if}}