@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 *{
     margin: 0;
     padding: 0;
 }

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header {
    background: linear-gradient(rgba(#3c3f49, ));
}